.search-page {
  display: flex;
}

.agmx-map {
  flex: 1 1 auto;
  height: 100vh;
}

#sidebar {
  width: 100%;
  padding: 0;

  .container {
    font-size: 16px;
  }

}

button {
  white-space: pre-wrap !important;
}

@media all and (max-width: 768px) {
  #sidebar {
    //max-height: 50vh;
    margin-bottom: 12px;
    margin-right: 4px;
    overflow: auto;
  }
}

@media all and (max-width: 768px) and (orientation: landscape) {
  #sidebar {
    margin-bottom: 0;
    width: 300px;
  }
}

@media all and (min-width: 768px) {
  #sidebar {
    width: 375px;
  }
}

@media all and (min-width: 960px) {

  #sidebar {
    margin-top: 10px;
    margin-left: 10px;

    mat-progress-bar {
      margin-left: -16px;
      margin-right: -16px;
      width: auto;
    }
  }
}
