<div class="search-page">
  <agm-map [fitBounds]="latlngBounds" [lang]="'es'" [latitude]="center.lat"
           [longitude]="center.lng" [streetViewControl]="0" [zoomControlOptions]="zoomControlOptions"
           (mapReady)="mapReady($event)" [zoom]="18" class="agmx-map">
    <agm-control [position]="position" id="sidebar">
      <div content>
        <app-search-panel (hospitalSelected)="view($event)" (nearHospitalFound)="drawDirection($event)"
        [map]="map"></app-search-panel>
      </div>
    </agm-control>

    <ng-container *ngIf="this.origin && this.origin.address.position">
      <agm-marker [latitude]="this.origin.address.position.lat"
                  [longitude]="this.origin.address.position.lng"></agm-marker>
    </ng-container>
    <agm-route [nodes]="nodes"></agm-route>
  </agm-map>
</div>
